@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="text"],
  input[type="password"],
  input[type="number"],
  input[type="email"],
  input[type="search"],
  input[type="tel"],
  input[type="url"],
  select,
  textarea {
    @apply text-gray-900 placeholder-gray-500;
  }

  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="url"]:focus,
  select:focus,
  textarea:focus {
    @apply text-gray-900;
  }
}
